{% extends "base.html" %}

{% block title %}VsGallery - Главная{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">VsGallery</h1>
            <p class="lead mb-4">Добро пожаловать.</p>
            <a href="/gallery/52f099ff-22d0-4a98-9537-e8cdca680dad/" class="btn btn-primary btn-lg">
                Тестовая галерея
            </a>
        </div>
    </div>
</div>
{% endblock %}